body {
  margin: 0;
  padding: 0;
  background-image: url("https://i.kym-cdn.com/photos/images/original/002/600/712/c1f.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#twitterLink {
  position: absolute;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px; /* Optional: for rounded corners */
  /* Initial background color; will be changed by JS */
  background-color: #fff;
  transition: background-color 0.5s; /* Smooth transition for color change */
}

#linkedInLink {
  position: absolute;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px; /* Optional: for rounded corners */
  /* Initial background color; will be changed by JS */
  background-color: #fff;
  transition: background-color 0.5s; /* Smooth transition for color change */
}
